#pager{
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background: #fff;
	text-align: center;
}
.button{
	height: 30px;
	width: 100px;
}
.report{
	margin-top: 100px;
}
.page{
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 80px auto;
	padding: 40px 50px;
	position: relative;
}
.main{
	min-height: 1136px;
	overflow: hidden;
}
.cover{
	background: url(../img/cover-judge.png);
	background-size: cover;
	overflow: hidden;
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 40px auto;
	padding: 40px 50px;
	position: relative;
}
.cover .block{
	text-align: center;
	position: relative;
	right: -222px;
	top: 770px;
}
.cover .title{
	color: #fff;
	font-size: 30px;
}
.cover .lawfirm{
	color: #fff;
	font-size: 17px;
	padding: 25px 0 0 0;
}
.cover .date{
	color: #fff;
	font-size: 15px;
}
h1{
	font-size: 50px;
	line-height: 100px;
	text-align: left;
}
h2{
	font-size: 22px;
	line-height: 50px;
}
h3{
	font-size: 22px;
	line-height: 50px;
}
p, div, h1, h2, h3, .note{
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(88, 88, 88);
	line-height: 30px;
}
ul{
	list-style: none;
}
ul li{
	line-height: 40px;
}

.header{
	padding: 0 20px 0 0;
	overflow: hidden;
	border-right: 5px solid rgb(60, 151, 211);
}
.header .nametag{
	text-align: right;
	margin: 0;
}
.header .title{
	font-size: 15px;
	text-align: right;
	margin: 0;
}
.note{
	font-size: 15px;
	padding: 10px;
	margin: 40px 0 0 0;
	border: 1px solid rgb(71, 157, 213);
}
.footer{
	overflow: hidden;
	height: 40px;
	padding: 10px 0;
	border-bottom: 1px solid #999;
}
.footer .logo{
	width: 120px;
	float: left;
}
.footer span{
	float: right;
	font-size: 13px;
	margin: 16px 8px 0 0;
}
.echart{
	margin: 0 auto;
}
.affiliatedjudge{
	width: 700px;
	height: 450px;
}
.casetype{
	width: 860px;
	height: 450px;
}
.month{
	width: 680px;
	height: 400px;
}
.consumer{
	width: 530px;
	height: 330px;
}
/*.opposite{
	width: 530px;
	height: 430px;
}*/
.trialtime{
	width: 800px;
	height: 430px;
}
.money{
	width: 600px;
	height: 500px;
}
/*.day{
	width: 530px;
	height: 300px;
	float: left;
}*/
.party{
	width: 430px;
	height: 380px;
	float: left;
}
.result1{
	width: 430px;
	height: 300px;
	float: left;
}

.result_analysis{
	width: 430px;
	height: 300px;
	float: left;
	margin-top:-30px;
}
.result_analysis1{
	width: 530px;
	height: 400px;
	margin: 0 auto;
	margin-top:-30px;
}

.winrate1{
	width: 530px;
	height: 450px;
	float: left;
}
.winrate11{
	width: 330px;
	height: 450px;
	float: left;
}
/*#cause1{
	width: 600px;
	height: 450px;
}
#cause2{
	width: 600px;
	height: 450px;
	float: left;
}*/
/*.court{
	width: 700px;
	height: 500px;
}*/
.level{
	width: 600px;
	height: 400px;
}
/*#status1{
	width: 430px;
	height: 285px;
}
#status2, #status3, #status4{
	width: 286px;
	height: 286px;
	float: left;
}*/

/*.page6 .block{
	height: 600px;
}
.page8 .block{
	height: 286px;
}
.page9 .block{
	height: 640px;
}*/
.judgement{
	width: 430px;
	height: 250px;
}
/*#judgement2, #judgement3, #judgement4, #judgement5{
	width: 430px;
	height: 300px;
	float: left;*/
}
.profile{
	text-indent: 2em;
	white-space: pre;
	word-wrap: break-word;
}
.page2 .structure{
	width: 700px;
	margin: 40px 100px;
}
#judge h2{
	color:rgb(60, 151, 211);
}