#pager{
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background: #fff;
	text-align: center;
}
.button{
	height: 30px;
	width: 100px;
}
.report{
	margin-top: 100px;
}
.page{
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 0 auto;
	padding: 40px 50px;
	position: relative;
}
.main{
	min-height: 1136px;
	overflow: hidden;
}
.cover{
	background: url(../img/cover-case.png);
	background-size: cover;
	overflow: hidden;
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 40px auto;
	padding: 40px 50px;
	position: relative;
}
.cover .block{
	text-align: center;
	position: relative;
	right: -222px;
	top: 770px;
}
.cover .title{
	color: #fff;
	font-size: 30px;
}
.cover .lawfirm{
	color: #fff;
	font-size: 17px;
	padding: 25px 0 0 0;
}
.cover .date{
	color: #fff;
	font-size: 15px;
}

.cover .casename{
	color: #fff;
	font-size: 40px;
	font-family:黑体;
	padding: 5px 0 0 25px;
	white-space:normal; width:350px;
	margin-left: 260px;
	/*word-spacing:25px;*/
	line-height:100%;
}
.cover .judgedate{
	color: #DADDE2;
	/*font-family:仿宋;*/
	font-size: 20px;
	font-weight: lighter;
	padding: 30px 0 0 0;
	margin-left: 67px;
}
.cover .scale{
	color: #DADDE2;

	font-size: 22px;
	padding: 0px 0 0 0;
	margin-left: 67px;
}

h1{
	font-size: 50px;
	line-height: 100px;
	text-align: left;
}
h2{
	font-size: 22px;
	line-height: 50px;
}
p, div, h1, h2{
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(88, 88, 88);
	line-height: 30px;
}
.note{
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(88, 88, 88);
	line-height: 30px;
	clear: both;
}
ul{
	list-style: none;
}
ul li{
	line-height: 40px;
}

.header{
	padding: 0 20px 0 0;
	overflow: hidden;
	border-right: 5px solid rgb(60, 151, 211);
}
.header .nametag{
	text-align: right;
	margin: 0;
}
.header .title{
	font-size: 15px;
	text-align: right;
	margin: 0;
}
.note{
	font-size: 15px;
	padding: 10px;
	margin: 40px 0 0 0;
	border: 1px solid rgb(71, 157, 213);
}
.footer{
	overflow: hidden;
	height: 40px;
	padding: 10px 0;
	border-bottom: 1px solid #999;
}
.footer .logo{
	width: 120px;
	float: left;
}
.footer span{
	float: right;
	font-size: 13px;
	margin: 16px 8px 0 0;
}
.echart{
	margin: 0 auto;
}

.rank{
	width: 530px;
	height: 330px;
}
.site{
	width: 600px;
	height: 350px;
}
.month{
	width: 600px;
	height: 350px;
}
.gongtype{
	width: 430px;
	height: 300px;
	float: left;
}
.shoutype{
	width: 430px;
	height: 300px;
	float: left;
}

.judgeperiod{
	width: 600px;
	height: 350px;
}

.casetype{
	width: 600px;
	height: 350px;
}

.consumer{
	width: 530px;
	height: 330px;
}
.opposite{
	width: 530px;
	height: 330px;
}
#cause1{
	width: 430px;
	height: 300px;
}
#cause2,#cause3,#cause4,#cause5{
	width: 430px;
	height: 300px;
	float: left;
}
.court{
	width: 800px;
	height: 500px;
}
.level1{
	width: 430px;
	height: 300px;
}
.level{
	width: 430px;
	height: 300px;
	float: left;
}
.law1{
	width: 860px;
	height: 400px;
}
.law{
	width: 430px;
	height: 300px;
	float: left;
}
.judgeresult{
	width: 430px;
	height: 300px;
	float: left;
	padding-bottom: 80px;
}
.judgeresult1{
	width: 500px;
	height: 300px;
}
.secondtag1{
	width: 430px;
	height: 300px;
	float: left;
	padding-bottom: 70px;
}
.secondtag2{
	width: 400px;
	height: 250px;
	float: left;
	padding-bottom: 70px;
	margin-left: 20px;
}


.casemoney{
	width: 500px;
	height: 300px;
}
.money{
	width: 430px;
	height: 300px;
	float: left;
	padding-bottom: 200px;
}

#status1{
	width: 430px;
	height: 285px;
}
#status2, #status3, #status4{
	width: 286px;
	height: 286px;
	float: left;
}
.result{
	width: 400px;
	height: 290px;
	float: left;
}
.page6 .block{
	height: 600px;
}
.page8 .block{
	height: 286px;
}
.page9 .block{
	height: 640px;
}
#judgement1{
	width: 430px;
	height: 290px;
}
#judgement2, #judgement3, #judgement4, #judgement5{
	width: 430px;
	height: 300px;
	float: left;
}
.page2 .structure{
	width: 700px;
	margin: 40px 100px;
}
.profile{
	text-indent: 2em;
	white-space: pre;
	word-wrap: break-word;
}
#lawyer h2{
	color:rgb(60, 151, 211);
}
#court h2{
	color:rgb(248, 149, 31);
}
