#pager{
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background: #fff;
	text-align: center;
}
.button{
	height: 30px;
	width: 100px;
}
.report{
	margin-top: 100px;
}
.page{
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 80px auto;
	padding: 40px 50px;
	position: relative;
}
.main{
	min-height: 1136px;
	overflow: hidden;
}
.cover{
	background: url(../img/cover-court.png);
	background-size: cover;
	overflow: hidden;
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 40px auto;
	padding: 40px 50px;
	position: relative;
}
.cover .block{
	text-align: center;
	position: relative;
	right: -222px;
	top: 770px;
}
.cover .title{
	color: #fff;
	font-size: 40px;
	font-family:黑体;
	padding-top:5px;
}

.cover .date{
	color:#515E75;
	font-size: 23px;
	padding-top: 30px;
}
.cover .scale{
	color:#515E75;
	font-size: 23px;
}
h1{
	font-size: 50px;
	line-height: 100px;
	text-align: left;
}
h2{
	font-family: font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	font-size: 22px;
	line-height: 50px;
	color:#F7931F;
}
p, div, h1{
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(88, 88, 88);
	line-height: 30px;
}

.note{
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(88, 88, 88);
	line-height: 30px;
	clear: both;
}

ul{
	list-style: none;
}
ul li{
	line-height: 40px;
}

.header{
	padding: 0 20px 0 0;
	overflow: hidden;
	border-right: 5px solid #F7931F;
}
.header .nametag{
	text-align: right;
	margin: 0;
}
.header .title{
	font-size: 15px;
	text-align: right;
	margin: 0;
}
.note{
	font-size: 15px;
	padding: 10px;
	margin: 40px 0 0 0;
	border: 1px solid rgb(71, 157, 213);
}
.footer{
	overflow: hidden;
	height: 40px;
	padding: 10px 0;
	border-bottom: 1px solid #999;
}
.footer .logo{
	width: 120px;
	float: left;
}
.footer span{
	float: right;
	font-size: 13px;
	margin: 16px 8px 0 0;
}
.echart{
	margin: 0 auto;
}

.lawsuit{
	width: 530px;
	height: 330px;
}

.party{
	width: 430px;
	height: 330px;
	float: left;
}

.numrank{
	width: 700px;
	height: 330px;
}
.total0{
	width: 430px;
	height: 330px;
	margin:0 auto；
}
.total{
	width: 430px;
	height: 330px;
	float: left;
}

.win0{
	width: 700px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.win{
	width: 430px;
	height: 300px;
	float: left;
}

.top10{
	width: 600px;
	height: 400px;
	margin: 0 auto;
}


.rank0{
	width: 700px;
	height: 300px;
	margin: 0 auto;
}

.rank{
	width: 430px;
	height: 300px;
	float: left;
	margin-top: 20px;
}

.organization{
	width: 860px;
	height: 800px;
	float: left;
}

.falv0{
	width: 860px;
	height: 400px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom: 20px;
}

.falv{
	width: 430px;
	height: 300px;
	float: left;

}

.sifajieshi0{
	width: 860px;
	height: 400px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom: 20px;
}

.sifajieshi{
	width: 430px;
	height: 300px;
	float: left;
}

.xingzhengfagui0{
	width: 860px;
	height: 400px;
	margin: 0 auto;
    margin-top:20px;
    margin-bottom: 20px;
}

.xingzhengfagui{
	width: 430px;
	height: 300px;
	float: left;
}




#cause2,#cause3,#cause4,#cause5{
	width: 430px;
	height: 300px;
	float: left;
}
.court{
	width: 800px;
	height: 500px;
}
.level{
	width: 600px;
	height: 350px;
}
#status1{
	width: 430px;
	height: 285px;
}
#status2, #status3, #status4{
	width: 286px;
	height: 286px;
	float: left;
}
.result{
	width: 400px;
	height: 290px;
	float: left;
}
.page7 .block{
	height: 400px;
}
.page8 .block{
	height: 286px;
}
.page9 .block{
	height: 640px;
}
#judgement1{
	width: 430px;
	height: 290px;
}
#judgement2, #judgement3, #judgement4, #judgement5{
	width: 430px;
	height: 300px;
	float: left;
}
.page2 .structure{
	width: 700px;
	margin: 40px 100px;
}
.profile{
	text-indent: 2em;
	white-space: pre;
	word-wrap: break-word;
}
#lawyer h2{
	color:rgb(60, 151, 211);
}