#pager{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
    text-align: center;
}
.button{
    height: 30px;
    width: 100px;
}
.report{
    margin-top: 100px;
}
.page{
    width:860px;
    height: 1274px;
    border: 1px solid #999;
    margin: 80px auto;
    padding: 40px 50px;
    position: relative;
}
.main{
    min-height: 1136px;
    overflow: hidden;
}
.cover{
    background: url(../img/cover-lawyer.png);
    background-size: cover;
    overflow: hidden;
    width:860px;
    height: 1274px;
    border: 1px solid #999;
    margin: 40px auto;
    padding: 40px 50px;
    position: relative;
}
.cover .block{
    height: 200px;
    text-align: center;
    position: relative;
    right: 220px;
    top: 870px;
    background: #fff;
}
.cover .title{
    color: #636363;
    font-size: 60px;
    padding: 25px 25px 25px 195px;
}
.cover .subtitle{
    color: #636363;
    font-size: 37px;
    padding: 25px 25px 25px 195px;
}
.cover .date{
    color: #636363;
    font-size: 15px;
    padding: 5px 25px 25px 195px;
}
h1{
    font-size: 50px;
    line-height: 100px;
    text-align: left;
}
h2{
    font-size: 22px;
    line-height: 50px;
}
h4{
    color: rgb(60, 151, 211);
}
p, div, h1, h2 .note{
    font-family:"微软雅黑", "Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
    color: rgb(88, 88, 88);
    line-height: 30px;
}
ul{
    list-style: none;
}
ul li{
    line-height: 40px;
}

.header{
    padding: 0 20px 0 0;
    overflow: hidden;
    border-right: 5px solid rgb(60, 151, 211);
}
.header .full_title{
    text-align: right;
    margin: 0;
}
.header .section{
    font-size: 15px;
    text-align: right;
    margin: 0;
}
.note{
    font-size: 15px;
    padding: 10px;
    margin: 40px 0 0 0;
    border: 1px solid rgb(71, 157, 213);
}
.footer{
    overflow: hidden;
    height: 40px;
    padding: 10px 0;
    border-bottom: 1px solid #999;
}
.footer .logo{
    width: 120px;
    float: left;
}
.footer span{
    float: right;
    font-size: 13px;
    margin: 16px 8px 0 0;
}
.echart{
    margin: 0 auto;
}
.consumer{
    width: 530px;
    height: 330px;
}

#cause1{
    width: 430px;
    height: 300px;
}
#cause2,#cause3,#cause4,#cause5{
    width: 430px;
    height: 300px;
    float: left;
}
.court{
    width: 800px;
    height: 500px;
}
.level{
    width: 600px;
    height: 350px;
}
#status1{
    width: 430px;
    height: 285px;
}
#status2, #status3, #status4{
    width: 286px;
    height: 286px;
    float: left;
}
.result{
    width: 400px;
    height: 290px;
    float: left;
}
.page6 .block{
    height: 600px;
}
.page8 .block{
    height: 286px;
}
.judgement{
    width: 430px;
    height: 300px;
    float: left;
}
.page2 .structure{
    width: 700px;
    margin: 40px 100px;
}
.profile{
    text-indent: 2em;
    white-space: pre;
    word-wrap: break-word;
}

/*新增元素*/
.time_span{
    width: 860px;
    height: 830px;
}
.location_span{
    width: 860px;
    height: 830px;
}
.court_procedure{
    width: 860px;
    height: 400px;
}
.win_or_lose{
    width: 860px;
    height: 400px;
}

#industry h2{
    color:rgb(60, 151, 211);
}
.company_name{
    width: 240px;
    height: 80px;
    font-size: 64px;
    text-align:left;
    line-height: 100%;
    /*float: left;*/
}
.company_logo{
    margin-left: 620px;
    margin-top: -83px;
    width: 240px;
    float: right;
}
table
{
    width: 100%;
}
.left_td{
    width: 180px;
    height: 50px;
}
.top_five{
    width: 860px;
    height: 400px;
}


