#pager{
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background: #fff;
	text-align: center;
}
.button{
	height: 30px;
	width: 100px;
}
.report{
	margin-top: 100px;
}
.page{
	width:860px;
	height: 1274px;
	border: 1px solid #e5e5e5;
	margin: 80px auto;
	padding: 40px 50px;
	position: relative;
}
.main{
	min-height: 1136px;
	overflow: hidden;
}
.cover{
	background: url(../img/cover-lawyer.png);
	background-size: cover;
	overflow: hidden;
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 40px auto;
	padding: 40px 50px;
	position: relative;
}
.cover .block{
	text-align: center;
	position: relative;
	right: -222px;
	top: 770px;
}
.cover .title{
	color: #fff;
	font-size: 30px;
}
.cover .lawfirm{
	color: #fff;
	font-size: 17px;
	padding: 25px 0 0 0;
}
.cover .judgedate{
	color: #fff;
	font-size: 15px;
}
h1{
	font-size: 50px;
	line-height: 100px;
	text-align: left;
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(88, 88, 88);
	line-height: 30px;
}
h2{
	font-size: 22px;
	line-height: 50px;font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(102, 102,102);
	line-height: 30px;
}
p, div,.note{
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(102, 102,102);
	line-height: 30px;
}
ul{
	list-style: none;
}
ul li{
	line-height: 30px;
}

.header{
	padding: 0 20px 0 0;
	overflow: hidden;
	border-right: 5px solid rgb(7, 209, 209);
}
.header .nametag{
	text-align: right;
	margin: 0;
}
.header .title{
	font-size: 15px;
	text-align: right;
	margin: 0;
}
.note{
	font-size: 15px;
	padding: 20px;
	margin: 0px 0 0 0;
	border: 1px solid rgb(229, 229, 229);
}
.footer{
	overflow: hidden;
	height: 40px;
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
}
.footer .logo{
	width: 120px;
	float: left;
}
.footer span{
	color: #999;
	float: right;
	font-size: 14px;
	margin: 16px 8px 0 0;
}
.echart{
	margin: 0 auto;
}
.consumer{
	width: 530px;
	height: 330px;
}
.opposite{
	width: 530px;
	height: 330px;
}
#cause1{
	width: 430px;
	height: 300px;
}
#cause2,#cause3,#cause4,#cause5{
	width: 430px;
	height: 300px;
	float: left;
}
.court{
	width: 800px;
	height: 500px;
}
.level{
	width: 600px;
	height: 350px;
}
#status1{
	width: 430px;
	height: 285px;
}
#status2, #status3, #status4{
	width: 286px;
	height: 286px;
	float: left;
}
.result{
	width: 400px;
	height: 290px;
	/*float: left;*/
}
.page6 .block{
	height: 600px;
}
.page8 .block{
	height: 286px;
}
.judgement{
	width: 430px;
	height: 300px;
	float: left;
}
.page2 .structure{
	width: 700px;
	margin: 40px 100px;
}
.profile{
	text-indent: 2em;
	white-space: pre;
	word-wrap: break-word;
}
#lawyer h2{
	color:rgb(7, 209, 209);
}