#pager{
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background: #fff;
	text-align: center;
}
.button{
	height: 30px;
	width: 100px;
}
.report{
	margin-top: 100px;
}
.page{
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 80px auto;
	padding: 40px 50px;
	position: relative;
}
.main{
	min-height: 1136px;
	overflow: hidden;
}
.cover{
	background: url(../img/cover-lawfirm.png);
	background-size: cover;
	overflow: hidden;
	width:860px;
	height: 1274px;
	border: 1px solid #999;
	margin: 40px auto;
	padding:40px 50px;
	position: relative;
}
.cover .block{
	text-align: center;
	position: relative;
	right: -222px;
	top: 770px;
}
.cover .title{
	color: #fff;
	font-size: 40px;
	font-family:黑体;
	padding-top:5px;
}

.cover .date{
	color:#515E75;
	font-size: 23px;
	padding-top: 30px;
}
.cover .scale{
	color:#515E75;
	font-size: 23px;
}

h1{
	font-size: 50px;
	line-height: 100px;
	text-align: left;

}
h2{
	font-size: 22px;
	line-height: 50px;
    color: #1DA7DC;
}
h3{
	font-size: 20px;
	line-height: 40px;
}

h4{
	font-size: 18px;
	line-height: 30px;
    padding-bottom: 0;
    color: #1DA7DC;
}
p, div, h1{
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(88, 88, 88);
	line-height: 30px;

}
.note{
	font-family:"Hiragino Sans GB", "Times New Roman",  Helvetica,"Microsoft JhengHei", Helvetica, Georgia,  Times, serif;
	color: rgb(88, 88, 88);
	line-height: 30px;
	width: 650px;
	font-size: 15px;
	padding: 10px;
	margin: 40px auto 0 auto;
	border: 1px solid #1DA7DC;;
	clear: both;
}
ul{
	list-style: none;
}
ul li{
	line-height: 40px;
}

.header{
	padding: 0 20px 0 0;
	overflow: hidden;
	border-right: 5px solid #1DA7DC;
}
.header .nametag{
	text-align: right;
	margin: 0;
}
.header .title{
	font-size: 15px;
	text-align: right;
	margin: 0;
}
.footer{
	overflow: hidden;
	height: 40px;
	padding: 10px 0;
	border-bottom: 1px solid #999;
}
.footer .logo{
	width: 120px;
	float: left;
}
.companylogo{
	width: 200px;
	height:85px;
}
.footer span{
	float: right;
	font-size: 13px;
	margin: 16px 8px 0 0;
}
.echart{
	margin: 0 auto;
}
.lawyersite{
	width: 780px;
	height: 500px;
}
.clienttype{
	width: 530px;
	height: 330px;
	
}
.clientnum1{
	width: 286px;
	height: 280px;
	float: left;
	
}
.clientnum2{
	width: 286px;
	height: 220px;
	float: left;
	padding-top: 60px;
	

}
.clientnum3{
	width: 286px;
	height: 150px;
	float: left;
	padding-top: 130px;
	
}
.oppositetype1{
	width: 450px;
	height: 280px;
	float: left;

	
}
.oppositetype2{
	width: 400px;
	height: 250px;
	float: left;
	padding-top: 30px;
}

.oppositelawfirm1{
	width: 286px;
	height: 280px;
	float: left;
	
}
.oppositelawfirm2{
	width: 286px;
	height: 220px;
	float: left;
	padding-top: 60px;
	

}
.oppositelawfirm3{
	width: 286px;
	height: 150px;
	float: left;
	padding-top: 130px;
	
}

.casetype{
	width: 750px;
	height: 360px;	
}

.casetype1{
	width: 430px;
	height:350px;	
	float: left;
	
}

.rank{
	width: 530px;
	height:330px;	
}

.level{
	width: 530px;
	height:330px;	
}
.casesite{
	width: 780px;
	height: 500px;
	padding-top: 50px;
}
.status1{
	width: 600px;
	height:450px;	
}

.status2{
	width: 430px;
	height:350px;	
	float: left;
}

.doctype1{
	width: 600px;
	height:400px;
		
}


.doctype2{
	width: 430px;
	height:350px;	
	float: left;
	padding-bottom:40px; 
}


.panjue1{
	width: 430px;
	height:350px;	
	float: left;
	
}
.panjue2{
	width: 430px;
	height:350px;	
	float: left;
	
}
.panjue3{
	width: 430px;
	height:350px;	
	float: left;
	
}
.lawyernum{
	width: 500px;
	height:280px;	
	
	
}


.page2 .structure{
	width: 700px;
	margin: 40px 100px;
}
.profile{
	text-indent: 2em;
	white-space: pre;
	word-wrap: break-word;
}
#lawyer h2{
	color:rgb(60, 151, 211);
}
#court h2{
	color:rgb(248, 149, 31);
}
